button {
    background-color: red;
    color: white;
    margin: 8px;
    border-radius: 5px;
}

body {
    background: url("../images/background.png");
    font-size: 18px;
    line-height: 34px;
    font-family: sans-serif;
    background-size: 100% auto;
}

h1 {
    font-size: 60px;
    color: white;
}

label {
    color: white;
}

#addHero {
    padding: 8px;
    background-color: red;
    color: white;
    margin-right: 120px;
}

.container {
    width: 100%;
    text-align: left;
}

.gifContainer {
    color: white;
    text-align: left;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
}

.gifs {
    align-content: left;
    display: inline-block;
    margin-right: 0;
    margin-left: 0;
}

form {
    float: right;
}
